<div class="col-lg-6 d-flex align-items-center">
    <div>
        <div>
            <span class="f-s-16 f-w-600 m-b-16 d-flex align-items-center"></span>
            <h1 class="banner-title m-0" style="line-height: 30px;"> Criadores <span class="text-primary">caninos
                    profesionales </span> de perros de compañía</h1>
            <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle">
                Dedicados a la cinofilia o cría de perros, por pasión y vocación, desde hace más de 15 años.
                Si estás buscando criaderos de perros fiables, éticos y responsables en España, podemos ayudarte.
            </p>
        </div>
        <div>
            <img src="assets/images/IMG-20250810-WA0007.jpg" class="rounded-circle m-2" width="200" height="200"
                style="position: absolute; top: -4px;right: -476px;" />
        </div>
    </div>
</div>