<div class="d-flex align-items-center gap-3 flex-wrap" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="d-flex align-items-center gap-8">
        <h1 class="">Contacto</h1>
        <div class="p-x-6 p-y-2 rounded-pill bg-secondary text-white">
            <h1 class="">Tecker</h1>
        </div>
    </div>
</div>

<div class="contact-page">
    <div class="banner-contact p-y-56">
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap align-items-center height-row">
                <h2 style="margin-bottom: 30px;">Donde encontrarnos</h2>
                <!-- <div class="d-flex align-items-center gap-6 breadcrumb"><a
                        class="f-s-14 text-uppercase text-decoration-none f-w-700"
                        href="/front-pages/homepage">MaterialM</a><i-tabler name="chevron-right" class="icon-18 d-flex"
                        _nghost-ng-c1247779758=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg></i-tabler><a class="f-s-14 text-uppercase text-primary text-decoration-none f-w-700"
                        href="/front-pages/contact"> Contact Us </a></div> -->
            </div>
        </div>
    </div>
    <div class="contact-details p-b-30">
        <div class="container">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6357.755398530701!2d-5.783487423820991!3d37.17937734623334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd127f0d3d731fef%3A0x39e34632f2bbe87!2sParroquia%20de%20Santa%20Mar%C3%ADa%20de%20La%20Mesa!5e0!3m2!1ses!2ses!4v1759078352452!5m2!1ses!2ses"
                width="100%" height="400" style="border:0;border-radius: 15px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-4">
                    <mat-card
                        class="mat-mdc-card mdc-card shadow-none bg-primary rounded-8 p-30 position-relative overflow-hidden">
                        <div class="p-b-20">
                            <h3 class="f-s-20 m-b-16 text-white">Comuníquese hoy</h3>
                            <p class="m-0 text-white f-s-16"> ¿Tiene preguntas o necesita ayuda? Estamos a solo un
                                mensaje de distancia. </p>
                        </div><mat-divider role="separator" class="mat-divider op-5 mat-divider-horizontal"
                            aria-orientation="horizontal"></mat-divider>
                        <div class="p-t-20">
                            <h3 class="f-s-20 m-b-16 text-white">Nuestra Ubicación</h3>
                            <p class="m-0 text-white f-s-16"> Visítenos en persona o encuentre nuestros datos de
                                contacto para conectarse con nosotros directamente. </p>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-8"><mat-card class="mat-mdc-card mdc-card"><mat-card-content
                            class="mat-mdc-card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-6"><mat-label class="f-s-14 f-w-600 m-b-8 d-block">Nombre<span>*</span></mat-label>
                                        <mat-form-field appearance="outline" color="primary"
                                            class="mat-mdc-form-field w-100 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary mat-form-field-animations-enabled"><!---->
                                            <div
                                                class="mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                                                <!---->
                                                <div class="mat-mdc-form-field-flex">
                                                    <div matformfieldnotchedoutline=""
                                                        class="mdc-notched-outline mdc-notched-outline--no-label ng-star-inserted">
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__leading">
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__notch">
                                                            <!----><!----><!---->
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__trailing">
                                                        </div>
                                                    </div><!----><!----><!---->
                                                    <div class="mat-mdc-form-field-infix"><!---->
                                                        <input matInput="" type="text" placeholder="Nombre"
                                                            class="mat-mdc-input-element mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored"
                                                            id="mat-input-274" aria-invalid="false"
                                                            aria-required="false">
                                                    </div><!----><!---->
                                                </div><!---->
                                            </div>
                                            <div
                                                class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align">
                                                <div aria-atomic="true" aria-live="polite"
                                                    class="mat-mdc-form-field-hint-wrapper"><!----><!---->
                                                    <div class="mat-mdc-form-field-hint-spacer ng-star-inserted"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </mat-form-field>
                                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Número de Teléfono<span>*</span></mat-label>
                                        <mat-form-field appearance="outline" color="primary"
                                            class="mat-mdc-form-field w-100 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary mat-form-field-animations-enabled"><!---->
                                            <div
                                                class="mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                                                <!---->
                                                <div class="mat-mdc-form-field-flex">
                                                    <div matformfieldnotchedoutline=""
                                                        class="mdc-notched-outline mdc-notched-outline--no-label ng-star-inserted">
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__leading">
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__notch">
                                                            <!----><!----><!---->
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__trailing">
                                                        </div>
                                                    </div><!----><!----><!---->
                                                    <div class="mat-mdc-form-field-infix"><!----><input matInput=""
                                                            type="tel" placeholder="xxx xxx xxxx"
                                                            class="mat-mdc-input-element mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored"
                                                            id="mat-input-275" aria-invalid="false"
                                                            aria-required="false"></div><!----><!---->
                                                </div><!---->
                                            </div>
                                            <div
                                                class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align">
                                                <div aria-atomic="true" aria-live="polite"
                                                    class="mat-mdc-form-field-hint-wrapper"><!----><!---->
                                                    <div class="mat-mdc-form-field-hint-spacer ng-star-inserted"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6"><mat-label class="f-s-14 f-w-600 m-b-8 d-block">Apellidos<span>*</span></mat-label><mat-form-field appearance="outline"
                                            color="primary"
                                            class="mat-mdc-form-field w-100 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary mat-form-field-animations-enabled"><!---->
                                            <div
                                                class="mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                                                <!---->
                                                <div class="mat-mdc-form-field-flex">
                                                    <div matformfieldnotchedoutline=""
                                                        class="mdc-notched-outline mdc-notched-outline--no-label ng-star-inserted">
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__leading">
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__notch">
                                                            <!----><!----><!---->
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__trailing">
                                                        </div>
                                                    </div><!----><!----><!---->
                                                    <div class="mat-mdc-form-field-infix"><!----><input matInput=""
                                                            type="text" placeholder="Apellidos"
                                                            class="mat-mdc-input-element mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored"
                                                            id="mat-input-276" aria-invalid="false"
                                                            aria-required="false"></div><!----><!---->
                                                </div><!---->
                                            </div>
                                            <div
                                                class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align">
                                                <div aria-atomic="true" aria-live="polite"
                                                    class="mat-mdc-form-field-hint-wrapper"><!----><!---->
                                                    <div class="mat-mdc-form-field-hint-spacer ng-star-inserted"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </mat-form-field><mat-label
                                            class="f-s-14 f-w-600 m-b-8 d-block">Email<span>*</span></mat-label><mat-form-field
                                            appearance="outline" color="primary"
                                            class="mat-mdc-form-field w-100 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary mat-form-field-animations-enabled"><!---->
                                            <div
                                                class="mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                                                <!---->
                                                <div class="mat-mdc-form-field-flex">
                                                    <div matformfieldnotchedoutline=""
                                                        class="mdc-notched-outline mdc-notched-outline--no-label ng-star-inserted">
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__leading">
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__notch">
                                                            <!----><!----><!---->
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__trailing">
                                                        </div>
                                                    </div><!----><!----><!---->
                                                    <div class="mat-mdc-form-field-infix"><!----><input matInput=""
                                                            type="mail" placeholder="Email"
                                                            class="mat-mdc-input-element mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored"
                                                            id="mat-input-277" aria-invalid="false"
                                                            aria-required="false"></div><!----><!---->
                                                </div><!---->
                                            </div>
                                            <div
                                                class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align">
                                                <div aria-atomic="true" aria-live="polite"
                                                    class="mat-mdc-form-field-hint-wrapper"><!----><!---->
                                                    <div class="mat-mdc-form-field-hint-spacer ng-star-inserted"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </mat-form-field></div>
                                </div>
                                <div class="row">

                                </div>
                                <div class="row">
                                    <div class="col-lg-12"><mat-label
                                            class="f-s-14 f-w-600 m-b-8 d-block">Mensaje</mat-label><mat-form-field
                                            appearance="outline" color="primary"
                                            class="mat-mdc-form-field w-100 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary mat-form-field-animations-enabled"><!---->
                                            <div
                                                class="mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                                                <!---->
                                                <div class="mat-mdc-form-field-flex">
                                                    <div matformfieldnotchedoutline=""
                                                        class="mdc-notched-outline mdc-notched-outline--no-label ng-star-inserted">
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__leading">
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__notch">
                                                            <!----><!----><!---->
                                                        </div>
                                                        <div class="mat-mdc-notch-piece mdc-notched-outline__trailing">
                                                        </div>
                                                    </div><!----><!----><!---->
                                                    <div class="mat-mdc-form-field-infix"><!----><textarea matInput=""
                                                            rows="5" placeholder="Escriba su mensaje aquí"
                                                            class="mat-mdc-input-element mat-mdc-form-field-textarea-control mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored"
                                                            id="mat-input-278" aria-invalid="false"
                                                            aria-required="false"></textarea></div><!----><!---->
                                                </div><!---->
                                            </div>
                                            <div
                                                class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align">
                                                <div aria-atomic="true" aria-live="polite"
                                                    class="mat-mdc-form-field-hint-wrapper"><!----><!---->
                                                    <div class="mat-mdc-form-field-hint-spacer ng-star-inserted"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </mat-form-field></div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end"><button mat-flat-button=""
                                        class="mdc-button mat-mdc-button-base mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed"
                                        mat-ripple-loader-uninitialized=""
                                        mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
                                            class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                            class="mdc-button__label">Enviar Mensaje</span><span
                                            class="mat-focus-indicator"></span><span
                                            class="mat-mdc-button-touch-target"></span></button></div>
                            </form>
                        </mat-card-content></mat-card></div>
            </div>
        </div>
    </div>

</div>