<div class="app-topstrip bg-dark text-white p-y-16 p-x-24 w-100 d-flex align-items-center justify-content-between">
    <div class="d-sm-flex align-items-center justify-content-center gap-20">
        <!-- <a class="d-flex align-items-center" href="" target="_blank">
            <img [src]="baseHref + '/assets/images/logo/logo_resized.png'" alt="" height="40px">
        </a> -->

        <div class="linkbar d-flex align-items-center justify-content-center gap-16">
            <!-- Home -->
            <a mat-button class="link-hover p-x-0 text-white d-flex" routerLink="/dashboard">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-20 d-flex" data-icon="solar:home-2-bold"></i>
                    Home
                </div>
            </a>
            <!-- Sobre Nosotros -->
            <a mat-button class="link-hover p-x-0 text-white d-flex" routerLink="/about">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-20 d-flex" data-icon="solar:user-id-bold"></i>
                    Sobre Nosotros
                </div>
            </a>

            <!-- Contacto -->
            <a mat-button class="link-hover p-x-0 text-white d-flex" routerLink="/gallery">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-20 d-flex" data-icon="solar:gallery-wide-bold"></i>
                    Galeria
                </div>
            </a>

            <!-- Aquí -->
            <a mat-button class="link-hover p-x-0 text-white d-flex" routerLink="/contact">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-20 d-flex" data-icon="solar:pen-new-square-outline"></i>
                    Contacto
                </div>
            </a>
        </div>
    </div>
</div>