<div class="col-lg-6 d-flex align-items-center">
    <div><span class="f-s-16 f-w-600 m-b-16 d-flex align-items-center">
        <!-- <i-tabler name="rocket" class="text-accent m-r-8"
                _nghost-ng-c1247779758=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3">
                    </path>
                    <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
                    <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                </svg></i-tabler> -->
                Kick start your project with</span>
        <h1 class="banner-title m-0"> Enhance <span class="text-primary">Developer's Productivity </span> with a
            MaterialM Angular </h1>
        <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle"> MaterialM comes with light &amp; dark color skins, well
            designed dashboards, applications and pages. </p>
        <div class="m-t-24 hstack"><a mat-flat-button="" color="primary"
                class="mdc-button mat-mdc-button-base btn-custom mdc-button--unelevated mat-mdc-unelevated-button mat-primary"
                mat-ripple-loader-class-name="mat-mdc-button-ripple" href="/authentication/login"><span
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                    class="mdc-button__label">Login</span><span class="mat-focus-indicator"></span><span
                    class="mat-mdc-button-touch-target"></span><span
                    class="mat-ripple mat-mdc-button-ripple"></span></a><a mat-stroked-button="" color="primary"
                class="mdc-button mat-mdc-button-base btn-custom border-primary mdc-button--outlined mat-mdc-outlined-button mat-primary"
                mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                    class="mdc-button__label">Live Preview</span><span class="mat-focus-indicator"></span><span
                    class="mat-mdc-button-touch-target"></span></a></div>
    </div>
</div>