/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body-wrapper {
    // background-image: url(https://www.indracompany.com/sites/default/files/d7/Multimedia/Imagen_Institucional/web_300x200_c.png) !important;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center bottom;
    background-color: rgb(211, 229, 255);
}

h1 {
    line-height: 40px;
    font-size: xxx-large;
}